{% extends 'base.html.twig' %}

{% block body %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Utilisateurs</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/accueil">Accueil</a></li>
                        <li class="breadcrumb-item active">Utilisateurs</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- /.card-header -->
    <!--suppress ALL -->
    <section class="content">
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">Formulaire d'ajout d'un utlisateur</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                {{ form_start(form) }}
                <div class="row">
                    <div class="col-md-4">
                        <div class="col-12 col-sm-12">
                            <div class="form-group">
                                <label>Nom <span style="color: red;">*</span> :</label>
                                <div class="select2-purple">
                                    {{ form_widget(form.nomUser, {'attr': {'class':'form-control ','placeholder':'Saisir le nom de l\'utilisateur', 'required':true} }) }}
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12">
                            <div class="form-group">
                                <label>Prenom <span style="color: red;">*</span> :</label>
                                <div class="select2-purple">
                                    {{ form_widget(form.prenomUser,{'attr': {'class':'form-control ','placeholder':'Saisir le prenom de l\'utilisateur', 'required':true} }) }}
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12">
                            <div class="form-group">
                                <label>Role <span style="color: red;">*</span> :</label>
                                <div class="select2-purple">
                                    {{ form_widget(form.roles, {'attr': {'placeholder':'privilége de l\'utilisateur'} }) }}
                                </div>
                            </div>    
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="col-12 col-sm-12">
                            <div class="form-group">
                                <label>Telephone <span style="color: red;">*</span> :</label>
                                <div class="select2-purple">
                                    {{ form_widget(form.telUser, {'attr': {'class':'form-control ','placeholder':'Saisir le numéro de l\'utilisateur', 'required':true} }) }}
                                </div>
                            </div>
                        </div> 
                        <div class="col-12 col-sm-12">
                            <div class="form-group">
                                <label>Nom d'utilisateur <span style="color: red;">*</span> :</label>
                                        <div class="select2-purple">
                                    {{ form_widget(form.nomUtilisateur, {'attr': {'class':'form-control ','placeholder':'Saisir le nom de connexion', 'required':true} }) }}
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12">
                            <div class="form-group">
                                <div class="select2-purple">
                                <label>Mot de passe<span style="color: red;">*</span>:</label>
                                    <div class="select2-purple">
                                        {{ form_widget(form.plainPassword, {'attr':{'class':'form-control ','placeholder':'Mot de passe'} }) }}
                                    </div>
                                </div>  
                            </div> 
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="col-12 col-sm-12">
                            <div class="form-group">
                                <label>Service <span style="color: red;">*</span> :</label>
                                    {{ form_widget(form.services, {'attr': {'class':'form-control  select2 ','placeholder':'Saisir l\'adresse de l\'utilisateur', 'required':true} }) }}
                            </div>

                            <br>
                            <button type="submit" class="btn btn-primary ">Valider</button>
                            <a href="{{ path('liste_user') }}">
                            <button type="button" class="btn btn-danger ">Annuler</button>
                            </a>
                    
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Liste des utilisateurs</h3>
                </div>
                <div class="card-body" style="display: block;">
                {% for message in app.flashes('desactive') %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
            {% endfor %} {% for message in app.flashes('active') %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('register') %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('suppression') %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('notice') %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
            {% endfor %}
                    <table id="table_utilisateur" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th class="text-center">Nom</th>
                            <th class="text-center">Prenom</th>
                            <th class="text-center">Nom d'utilisateur</th>
                            <th class="text-center">Telephone</th>
                            <th class="text-center">Service</th>
                            <th class="text-center">Role</th>
                            <th class="text-center">Etat du compte</th>
                            <th class="text-center" width="19%" >Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in users %}
                            <tr>
                                <td>{{ user.id }}</td>
                                <td>{{ user.nomuser }}</td>
                                <td>{{ user.prenomuser }}</td>
                                <td>{{ user.nomUtilisateur }}</td>
                                <td>{{ user.teluser }}</td>
                                <td>{{ user.services}}</td>
                                <td>
                                    {% for unrole in user.roles %}
                                    {{unrole}}
                                        {% endfor %}
                                </td>
                                <td>
                                    {% if user.etat == 1 %}
                                        <span class="badge bg-success">Active</span>
                                    {% else %}
                                        <span class="badge bg-danger">Désactivé</span>
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                {% if app.user and app.user.id == user.id%}
                                    <a href="{{ path('edit_user',{'id':user.id}) }}">
                                        <button type="button" class="btn btn-outline-success btn-rounded"><i class="fa fa-edit"></i></button>
                                    </a>
                                {% else %}
                                    {% if user.etat == 1 %}

                                        <a href="{{ path('desactive_user',{'id':user.id}) }}">
                                            <button type="button" class="btn btn-outline-danger btn-rounded"><i class="fa fa-power-off"></i></button>
                                        </a>

                                    {% else %}

                                        <a href="{{ path('active_user',{'id':user.id}) }}">
                                            <button type="button" class="btn btn-outline-success btn-rounded"><i class="fa fa-power-off"></i></button>
                                        </a>

                                    {% endif %}
                                    <a href="{{ path('edit_user',{'id':user.id}) }}">
                                        <button type="button" class="btn btn-outline-success btn-rounded"><i class="fa fa-edit"></i></button>
                                    </a>
                                    <a href="{{ path('delete_user',{'id':user.id}) }}" id="delBtn"  data-toggle="modal">
                                        <button type="button" class="btn btn-outline-danger btn-rounded"><i class="fa fa-trash"></i></button>
                                    </a>
                                    <a href="{{ path('resetPassword',{'id':user.id}) }}">
                                        <button type="button" class="btn btn-outline-success btn-rounded"><i class="fa fa-reply"></i></button>
                                    </a>
                                {% endif %}
                            </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <div class="modal fade" id="myModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h4><b>Êtes-vous sûr de vouloir supprimer cet utilisateur ?</b></h4>
                <p>Cette action peut être annulée</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                <a  href="" type="button" class="btn btn-danger" id="delRef"><i class="fa fa-trash" aria-hidden="true"></i>Supprimer</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}