{% extends 'base.html.twig' %}

{% block body %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Profil</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/accueil">Accueil</a></li>
                        <li class="breadcrumb-item active">Profil</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <!-- Profile Image -->
                    <div class="card card-primary card-outline">
                        <div class="card-body box-profile">
                            <div class="text-center">
                                <img class="profile-user-img img-fluid img-circle"
                                    src="../../dist/img/avatar.png"
                                    alt="User profile picture">
                            </div>
                        </div>
                        <h3 class="profile-username text-center"> {{ app.user.nomUser }}</h3>
                        <p class="text-muted text-center"> {{ app.user.nomUtilisateur }}</p>
                        <ul class="list-group list-group-unbordered mb-3">
                        <li class="list-group-item">
                    <b>Etat du  compte</b> <a class="float-right"> 
                    {% if user.etat == 1 %}
                                    <span class="badge bg-success">Active</span>
                                {% else %}

                                    <span class="badge bg-danger">Désactivé</span>

                                {% endif %}</a>
                  </li>
                  <li class="list-group-item">
                    <b>Roles</b> <a class="float-right"> 
                    {% for unrole in user.roles %}
                                    {{unrole}}
                                {% endfor %}</a>
                  </li>
                        </ul>

                        <a href="{{ path('app_logout') }}" class="btn btn-primary btn-block"><b>Se déconnecter</b></a>

                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
                <div class="col-md-9">
                    <div class="card card-primary">
                        <div class="card-header p-2">
                            <h3 class="card-title">Formulaire de modification du profile d'un utilisateur</h3>
                        </div><!-- /.card-header -->
                        <div class="card-body">
                        {% for message in app.flashes('desactive') %}
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            {{ message }}
                        </div>
                    {% endfor %} {% for message in app.flashes('active') %}
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            {{ message }}
                        </div>
                    {% endfor %}
                    {% for message in app.flashes('register') %}
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            {{ message }}
                        </div>
                    {% endfor %}
                    {% for message in app.flashes('suppression') %}
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            {{ message }}
                        </div>
                    {% endfor %}
                    {% for message in app.flashes('notice') %}
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            {{ message }}
                        </div>
                    {% endfor %}
                            <div class="card-body">
                                {{ form_start(form) }}
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="col-12 col-sm-12">
                                            <div class="form-group">
                                                <label>Nom <span style="color: red;">*</span> :</label>
                                                <div class="select2-purple">
                                                    {{ form_widget(form.nomUser, {'attr': {'class':'form-control ','placeholder':'Saisir le nom de l utilisateur', 'required':true} }) }}
                                                </div>
                                            </div>
                                            <!-- /.form-group -->
                                        </div>
                                        <!-- /.form-group -->
                                        <div class="col-12 col-sm-12">
                                            <div class="form-group">
                                                <label>Prenom <span style="color: red;">*</span> :</label>
                                                <div class="select2-purple">
                                                    {{ form_widget(form.prenomUser,{'attr': {'class':'form-control ','placeholder':'Saisir le prenom de l utilisateur', 'required':true} }) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-12">
                                            <div class="form-group">
                                                <label>Nom d'utilisateur <span style="color: red;">*</span> :</label>
                                                <div class="select2-purple">
                                                    {{ form_widget(form.nomUtilisateur, {'attr': {'class':'form-control ','placeholder':'Saisir le mail de l utilisateur', 'required':true} }) }}
                                                </div>
                                            </div>

                                            <!-- /.form-group -->
                                        </div>
                                        <!-- /.form-group -->
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-md-6">
                                        <div class="col-12 col-sm-12">
                                            
                                            <div class="form-group">
                                                <label>Telephone <span style="color: red;">*</span> :</label>
                                                <div class="select2-purple">
                                                    {{ form_widget(form.telUser, {'attr': {'class':'form-control ','placeholder':'Ssaisir le numéro de l utilisateur', 'required':true} }) }}
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="select2-purple">
                                                    <label>Mot de passe<span style="color: red;">*</span> </label>
                                                    {{ form_widget(form.plainPassword, {'attr':{'class':'form-control ','placeholder':'Mot de passe'} }) }}
                                                </div>
                                            </div>
                                            <!-- /.form-group -->
                                        </div>
                                        <!-- /.form-group -->
                                        <br>
                                         <div class="col-8">
                                            <button type="submit" class="btn btn-primary btn-block">Valider</button>
                                        </div>
                                        <!-- /.form-group -->
                                        {{ form_end(form) }}
                                    </div>
                                    <!-- /.col -->
                                </div>
                                <!-- /.row -->
                                <!-- /.row -->
                            </div>
                            <!-- /.card-body -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="modal fade" id="myModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <h4><b>Êtes-vous sûr de vouloir supprimer cet utilisateur ?</b></h4>
                    <p>Cette action peut être annulée</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <a  href="" type="button" class="btn btn-danger" id="delRef"><i class="fa fa-trash" aria-hidden="true"></i>Supprimer</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}