{% extends 'base.html.twig' %}

{% block body %}
    <!-- /.card-header -->
    <!--suppress ALL -->

    <div class="card-body">
        {{ form_start(form) }}
        <div class="row">
            <div class="col-md-6">
                <div class="col-12 col-sm-6">
                    <div class="form-group">
                        <label>Nom <span style="color: red;">*</span> :</label>
                        <div class="select2-purple">
                            {{ form_widget(form.nomUser, {'attr': {'class':'form-control ','placeholder':'Saisir le nom de l utilisateur', 'required':true} })}}
                        </div>
                    </div>

                    <!-- /.form-group -->
                </div>
                <!-- /.form-group -->
                <div class="col-12 col-sm-6">
                    <div class="form-group">
                        <label>Prenom <span style="color: red;">*</span> :</label>
                        <div class="select2-purple">
                            {{ form_widget(form.prenomUser,{'attr': {'class':'form-control ','placeholder':'Saisir le prenom de l utilisateur', 'required':true} }) }}
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="form-group">
                        <label>nomUtilisateur <span style="color: red;">*</span> :</label>
                        <div class="select2-purple">
                            {{ form_widget(form.nomUtilisateur, {'attr': {'class':'form-control ','placeholder':'Saisir le mail de l utilisateur', 'required':true} }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Telephone <span style="color: red;">*</span> :</label>
                        <div class="select2-purple">
                            {{ form_widget(form.telUser, {'attr': {'class':'form-control ','placeholder':'Ssaisir le numéro de l utilisateur', 'required':true} }) }}
                        </div>
                    </div>
                    <!-- /.form-group -->
                </div>
                <!-- /.form-group -->
            </div>
            <!-- /.col -->
            <div class="col-md-6">
                <div class="col-12 col-sm-6">
                    <div class="form-group">
                        <label>Adresse  <span style="color: red;">*</span> :</label>
                        <div class="select2-purple">
                            {{ form_widget(form.adresseUser, {'attr': {'class':'form-control ','placeholder':'Saisir l adresse de l utilisateur', 'required':true} }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="select2-purple">
                            <label>Mot de passe<span style="color: red;">*</span> </label>
                            {{ form_widget(form.plainPassword, {'attr':{'placeholder':'Mot de passe'} }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Role <span style="color: red;">*</span> :</label>
                        {{ form_widget(form.roles, {'attr': {'placeholder':'privilége de l utilisateur'} }) }}
                    </div>
                    <!-- /.form-group -->
                </div>
                <!-- /.form-group -->

                <div class="col-4">
                    <button type="submit" class="btn btn-primary btn-block">Enregistrer</button>
                </div>
                <!-- /.form-group -->
                {{ form_end(form) }}
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        <!-- /.row -->
    </div>
    <!-- /.card-body -->

    <section class="content">
        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Formulaire d'ajout d'un utilisateur</h3>
            </div>
            <div class="card-body p-0">
                <table id="table_utilisateur" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th  class="text-center" width="10%">Nom</th>
                        <th  class="text-center" width="10%">Prenom</th>
                        <th  class="text-center">nomUtilisateur</th>
                        <th  class="text-center" >Telephone</th>
                        <th  class="text-center" >Adresse</th>
                        <th  class="text-center" >Role</th>
                        <th  class="text-center" >Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.nomuser }}</td>
                            <td>{{ user.prenomuser }}</td>
                            <td>{{ user.nomUtilisateur }}</td>
                            <td>{{ user.teluser }}</td>
                            <td>{{ user.adresseuser }}</td>
                            <td>
                                {% for unrole in user.roles %}
                                    {{unrole}}
                                {% endfor %}
                            </td>
                            <td class="project-actions text-right">
                                <a class="btn btn-primary btn-sm" href="profil{id}">
                                    <i class="fas fa-folder">
                                    </i>
                                    View
                                </a>
                                <a class="btn btn-info btn-sm" href="modifierUser{id}">
                                    <i class="fas fa-pencil-alt">
                                    </i>
                                    Edit
                                </a>
                                <a class="btn btn-danger btn-sm" href="deleteUser/{id}">
                                    <i class="fas fa-trash">
                                    </i>
                                    Delete
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </section>
    <div class="modal fade" id="myModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <h4><b>Êtes-vous sûr de vouloir supprimer cet utilisateur ?</b></h4>
                    <p>Cette action peut être annulée</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <a  href="" type="button" class="btn btn-danger" id="delRef"><i class="fa fa-trash" aria-hidden="true"></i>Supprimer</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}