{% extends 'base.html.twig' %}

{% block body %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Service</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Accueil</a></li>
                        <li class="breadcrumb-item active">Service</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- /.card-header -->
    <!--suppress ALL -->
    <section class="content">
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">Formulaire d'ajout d'un service</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                {{ form_start(form) }}
                <div class="row">
                    <div class="col-md-6">
                        <div class="col-12 col-sm-12">
                            <div class="form-group">
                                <label>Nom <span style="color: red;">*</span> :</label>
                                <div class="select2-purple">
                                    {{ form_widget(form.nomService, {'attr': {'class':'form-control ','placeholder':'Saisir le nom de l\'agent', 'required':true} }) }}
                                </div>
                            </div>
                        </div>
                   
                    </div>

                            <!-- /.form-group -->
                        <!-- /.form-group -->
                    <div class="col-md-6">
                        <div class="col-12 col-sm-12">
                            <div class="form-group">
                                <label>Description  :</label>
                                <div class="select2-purple">
                                    {{ form_widget(form.description,{'attr': {'class':'form-control ', 'required': false,'placeholder':'Saisir le prenom de l\'agent'} }) }}
                                </div>
                            </div>
                        </div>
                    <button type="submit" class="btn btn-primary ">Valider</button>
                    <a href="{{ path('liste_service') }}">
                <button type="button" class="btn btn-danger ">Annuler</button>
                    </a>
                        <!-- /.form-group -->
                    </div>
                   
                    
                        <!-- /.form-group -->
                </div>
                    {{ form_end(form) }}
            </div>
                    <!-- /.col -->
        </div>
                <!-- /.row -->
                <!-- /.row -->
            <!-- /.card-body -->
            <!-- Default box -->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Liste des services</h3>
                </div>
                <div class="card-body p-0">
                    {% for message in app.flashes('register') %}
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            {{ message }}
                        </div>
                    {% endfor %}
                    {% for message in app.flashes('suppression') %}
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            {{ message }}
                        </div>
                    {% endfor %}
                    {% for message in app.flashes('doublon') %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            {{ message }}
                        </div>
                    {% endfor %}
                    {% for message in app.flashes('suppression_imp') %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            {{ message }}
                        </div>
                    {% endfor %}
                    {% for message in app.flashes('notice') %}
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            {{ message }}
                        </div>
                    {% endfor %}
                    <table id="table_service" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th class="text-center">Nom</th>
                            <th class="text-center">Description</th>
                            <th class="text-center">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for service in services %}
                            <tr>
                                <td>{{ service.id }}</td>
                                <td>{{ service.nomservice }}</td>
                                <td>{{ service.description }}</td>
                                <td class="text-center"><a href="{{ path('edit_service',{'id':service.id}) }}">
                            <button type="button" class="btn btn-outline-success btn-rounded"><i class="fa fa-edit"></i></button>
                        </a>
                        <a href="{{ path('delete_service',{'id':service.id}) }}" id="delBtn"  data-toggle="modal">
                            <button type="button" class="btn btn-outline-danger btn-rounded"><i class="fa fa-trash"></i></button>
                        </a>
                        </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
        </div>
        <!-- /.card -->
    </section>
    <div class="modal fade" id="myModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h4><b>Êtes-vous sûr de vouloir supprimer cet service ?</b></h4>
                <p>Cette action peut être annulée</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                <a  href="" type="button" class="btn btn-danger" id="delRef"><i class="fa fa-trash" aria-hidden="true"></i>Supprimer</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}