{% extends 'base.html.twig' %}

{% block body %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Compte Actif</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/accueil">Accueil</a></li>
                        <li class="breadcrumb-item active">Compte Actif</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- /.card-header -->
    <!--suppress ALL -->
    <section class="content">
        <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Liste des utilisateurs actif</h3>
                </div>
                <div class="card-body" style="display: block;">
                {% for message in app.flashes('desactive') %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
            {% endfor %} {% for message in app.flashes('active') %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('register') %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('suppression') %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('notice') %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
            {% endfor %}
                    <table id="table_utilisateur" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th class="text-center">Nom</th>
                            <th class="text-center">Prenom</th>
                            <th class="text-center">Nom d'utilisateur</th>
                            <th class="text-center">Telephone</th>
                            <th class="text-center">Service</th>
                            <th class="text-center">Role</th>
                            <th class="text-center">Etat du compte</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in users %}
                            <tr>
                                <td>{{ user.id }}</td>
                                <td>{{ user.nomuser }}</td>
                                <td>{{ user.prenomuser }}</td>
                                <td>{{ user.nomUtilisateur }}</td>
                                <td>{{ user.teluser }}</td>
                                <td>{{ user.services}}</td>
                                <td>
                                    {% for unrole in user.roles %}
                                    {{unrole}}
                                        {% endfor %}
                                </td>
                                <td>
                                    {% if user.etat == 1 %}
                                        <span class="badge bg-success">Active</span>
                                    {% else %}
                                        <span class="badge bg-danger">Désactivé</span>
                                    {% endif %}
                                </td>
                               
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <div class="modal fade" id="myModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h4><b>Êtes-vous sûr de vouloir désactivé cet utilisateur ?</b></h4>
                <p>Cette action peut être annulée</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                <a  href="" type="button" class="btn btn-danger" id="delRef"><i class="fa fa-power-off" aria-hidden="true"></i>Désactivé</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}