{% extends 'base.html.twig' %}

{% block body %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Visite personnelle</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/accueil">Accueil</a></li>
                        <li class="breadcrumb-item active">Visite personnel</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- /.card-header -->
    <!--suppress ALL -->
    <section class="content">
        <div class="card card-default">
            <div class="card-header">
               <div class="callout callout-info">
                    <h5><i class="fas fa-info"></i> Note:</h5>
                    Cet formulaire vous permet de crée une visite personnelle.
                </div>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
            {% for message in app.flashes('register') %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('suppression') %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('debut') %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
        </div>
        {% endfor %}
        {% for message in app.flashes('visiteExiste') %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
        </div>
        {% endfor %}

        {% for message in app.flashes('fin') %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('notice') %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
            </div>
        {% endfor %}
                {{ form_start(form) }}
                <div class="row">
                    <div class="col-md-6">
                        <div class="col-12 col-sm-10">
                            <div class="form-group">
                                <label>Visiteur <span style="color: red;">*</span> :</label>
                                <div class="select2-purple">
                                    {{ form_widget(form.visiteurs, {'attr': {'class':'form-control select2 ','placeholder':'Saisir le nom de visiteur', 'required':true} }) }}
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-10">
                            <div class="form-group">
                                <label>Motif <span style="color: red;">*</span> :</label>
                                <div class="select2-purple">
                                    {{ form_widget(form.motif,{'attr': {'class':'form-control ','placeholder':'Saisir le motif de la visite', 'required':true} }) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="col-12 col-sm-10">
                            <div class="form-group">
                            <label>Liste des personnels <span style="color: red;">*</span> :</label>
                                <div class="select2-purple">
                                    {{ form_widget(form.users, {'attr': {'class':'form-control select2 ','placeholder':'Veuillez selction le personnel', 'required':true} }) }}
                                </div>
                            </div>
                        </div>
                       
                            
                    
                    </div>
                </div>
                <div class="float-right">
            <button type="submit" class="btn btn-primary ">Valider</button>
           
        </div>
       
        <a href="#null" onclick="javascript:history.back();"  class="btn btn-danger ">Retour</a>
                {{ form_end(form) }}
            </div>
         
        </div>
        
        </div>
        <!-- /.card -->
    </section>
{% endblock %}